.carousel{
    width: 600px;
    height: 380px;
    margin: auto;

}
.Video-carousel{
    /* background: url('https://st4.depositphotos.com/1114873/40401/i/600/depositphotos_404018128-stock-photo-abstract-mixed-painted-background-modern.jpg') no-repeat  ; */
    background: linear-gradient(0deg, rgb(253, 119, 79), rgb(248, 212, 50));
    height: 80vh;
    margin: 20px 0;
    padding-top: 70px ;

}


.carousel-control-prev {
    height: 300px;
}
.carousel-control-next{
    height: 300px;
}

 .carousel .carousel-control-prev-icon {
    visibility: hidden ;
}

.carousel:hover .carousel-control-prev-icon {
    visibility: visible;
}

.carousel .carousel-control-next-icon {
    visibility: hidden ;
} 

.carousel:hover .carousel-control-next-icon {
    visibility: visible;
} 

@media (max-width:600px) {
    .carousel{
        width: 300px;
        height: 280px;
        margin: auto;
        
    
    }
    .Video-carousel{
        background: none;
        margin: -1  00px;

    }
}